.message {
    border: 5px outset #3861e9;
    background-color: lightblue;
    text-align: center;
    max-width: 60%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.chat {
    background-color: rgb(0, 0, 0);
    width: 100%;
    align-items: center;
    
}

img {
    width: 40%;
}
body {
    text-align: center;
}