.message {
    border: 3px outset #61afef;
    background-color: lightblue;
    text-align: center;
    max-width: 60%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.chat {
    background-color: #5c6370;
    width: 100%;
    align-items: center;
    
}

img {
    width: 40%;
}
body {
    text-align: center;
}