/* Page Inner */

.my-page-inner {
    position: relative;
    min-height: calc(100% - 81px);
    padding: 10px 10px 0px 25px;
    background: #f1f5f8;
}

.my-page-inner.no-page-title {
    padding-top: 30px;
}

.my-page-inner.full-page {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.my-page-inner.full-page.no-footer {
    padding-bottom: 0px;
}

.my-page-inner.full-page .page-footer {
    padding-left: 30px;
    padding-right: 30px;
}

_::-webkit-full-page-media,
_:future,
:root .my-page-inner {
    padding-bottom: 0px;
}

.page-header-fixed .my-page-inner {
    margin-top: 70px;
    padding-top: 15px !important;
}

.page-footer {
    /* margin-left: -30px; */
    width: 100%;
    padding: 10px 30px;
    /* Æ’bÆ’order-top: 1px solid #E6E8EB; */
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #ececf1;
}

.page-footer a {
    color: rgba(29, 45, 91);
}

.page-footer a:not(:hover) {
    text-decoration: underline
}