{% extends "base.html" %} {% block title %}{{ section.title }}{% endblock %} {% block content %}
<h1>{{ section.title }}</h1>
<div class="chat">
{% for message in data %}
    <div class="message">
        {{ message.as_p | safe }}
        {{ message.get_time | safe }}
    </div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    <div class="form-outline">
        {{ form.body }}
        {{ form.media }}
    </div>
    <button class="button" type="submit">Send</button>
</form>
{% endblock %}
