{% extends "LMS.html" %}
{% load static %}
{% block content %}
    <div class="chat">
        {% for message in messages %}
            <div class="my-container">
                <div class="message">
                    {{ message.body.html | safe }}
                    {{ message.get_time | safe }}
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ message.id }}"/>
                    <input class="delete-btn" type="image" src="{% static '/img/delete.png' %}"/>
                </form>
            </div>
        {% endfor %}
        <div class="my-sticky">
            <form method="post">
                {% csrf_token %}
                <div class="wrap">
                    {{ form.body }}
                    <input class="send-btn" type="image" src="{% static '/img/send.png' %}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
