{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="LMS"/>
    <meta name="keywords" content="admin,TUIT"/>
    <meta name="author" content="stacks"/>
    <meta name="csrf-token" content="7k2XnI5w9cBKfHoOfVhhuAo5Xg0oKoyhJqko3nBE"/>
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Lorem Super Chat</title>
    {% comment %} My styles {% endcomment %}
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" href="{% static 'page_inner.css' %}"/>
    {% include 'django_quill/media.html' %}


    <!-- Styles -->

    <link href="https://lms.tuit.uz/assets/plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/plugins/font-awesome/css/font-awesome.min.css"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/plugins/icomoon/style.css"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/plugins/switchery/switchery.min.css"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/plugins/bootstrap-datepicker/css/datepicker3.css"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/plugins/bootstrap-datepicker/css/datepicker.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://lms.tuit.uz/assets/css/select2.min.css"/>
    <link rel="stylesheet"
          href="https://lms.tuit.uz/assets/css/metisMenu.min.css"/>
    <!-- Theme Styles -->
    <link href="https://lms.tuit.uz/assets/css/space.css?v=1.4"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/css/custom.css?v=1.2"
          rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/css/fonts.css" rel="stylesheet"/>
    <link href="https://lms.tuit.uz/assets/css/toastify.min.css?v=1.0"
          rel="stylesheet"
          type="text/css"/>
    <link href="https://lms.tuit.uz/assets/css/style.css?v=1.8"
          rel="stylesheet"/>
    <style>
        @media (max-width: 768px) {
            .server-time-t4562h {
                width: 140px !important;
                font-size: 11px !important;
                margin-top: -8px !important;
            }
        }
    </style>
</head>
<body class="" onload="window.scrollTo(0,document.body.scrollHeight);">
<!-- Page Container -->
<div class="">
    <!-- Page Sidebar -->
    <div class="page-sidebar">
        <a class="logo-box" href="#">
            <div>
                <img src="{% static 'img/logo.png' %}"
                     alt=""
                     height="40"
                     width="40"/>
                <h4>Lorem Super Chat</h4>
            </div>
        </a>
    </div>
    <!-- Page Content -->
    <div class="">
        <!-- Page Header -->
        <div class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="text-left text-blue server-time">
                                    <p>
                                        <i class="fa fa-search fa-2x"></i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a class="text-blue" href="#">
                                    <p>
                                        <i class="fa fa-comments fa-2x"></i>
                                    </p>
                                </a>
                            </li>
                            <li class="dropdown">

                                <a href="#" data-toggle="dropdown">
                                    <p>
                                        <i class="fa fa-user fa-2x"></i>
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-content">
                                    <li>
                                        <div style="padding:13px 10px;
                                                                background-color: rgba(29,45,91);
                                                                color: #fff">John Doe
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-cog"></i>Profile settings</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i
                                                class="fa fa-sign-out"></i>Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <!-- /Page Header -->
        <!-- Page Inner -->
        <div>
            <div class="my-page-inner">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <!-- /Page Inner -->
</div>
<!-- /Page Content -->
</div>
<!-- /Page Container -->
<!-- Javascripts -->
<script src="https://lms.tuit.uz/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="https://lms.tuit.uz/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://lms.tuit.uz/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://lms.tuit.uz/assets/js/metisMenu.min.js"></script>
<script src="https://lms.tuit.uz/assets/plugins/switchery/switchery.min.js"></script>
<script src="https://lms.tuit.uz/assets/js/space.js"></script>
<script src="https://lms.tuit.uz/assets/js/toastify.min.js"></script>
<script src="https://lms.tuit.uz/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="https://lms.tuit.uz/assets/js/pages/form-elements.js"></script>
<script src="https://lms.tuit.uz/assets/js/select2.full.min.js"></script>
<script src="https://lms.tuit.uz/assets/js/mask.js"></script>
<script src="https://lms.tuit.uz/assets/js/main.js?v=1.0"></script>
<script src="https://kit.fontawesome.com/7157db1cbb.js" crossorigin="anonymous"></script>
</body>
</html>
